{% extends 'adminLayout.html.twig' %}
{% block body %}
               
               <!-- Page Heading -->
               <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
               
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">26</div>
                                        <div>New Comments!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#commentList">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">12</div>
                                        <div>New Events!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#eventList">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-calendar fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">5</div>
                                        <div>Upcoming Events!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="eventList.html">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>New Members!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#memberList">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Traffic Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

               <!-- row -->
                <div class="row">
                  
                     <div class="col-lg-4" >
	                        <div class="panel panel-default" id="commentList">
	                            <div class="panel-heading">
	                                <h3 class="panel-title"><i class="fa fa-comment fa-fw"></i>New Comment list</h3>
	                            </div>
	                            <div class="panel-body">
	                                <div class="table-responsive">
	                                    <table class="table table-bordered table-hover table-striped">
	                                        <thead>
	                                            <tr>
	                                                <th>Comment</th>
	                                                <th>Username</th>  
	                                                <th>Event Title</th> 
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                                <td>Event Title 1</td>
	                                               
	                                            </tr>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                                <td>Event Title 3</td>
	                                                
	                                            </tr>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                 <td>User name</td>
	                                                <td>Event Title 2</td>
	                                                
	                                            </tr>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                 <td>User name</td>
	                                                <td>Event Title 1</td>
	                                                
	                                            </tr>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                               <td>Event Title 1</td>
	                                                
	                                            </tr>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                                <td>Event Title 1</td>
	                                               
	                                            </tr>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                                <td>Event Title 4</td>
	                                                
	                                            </tr>
	                                            <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                               <td>Event Title 2</td>
	                                               
	                                            </tr>
	                                             <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                                <td>Event Title 5</td>
	                                               
	                                            </tr>
	                                             <tr>
	                                                <td>Comment Text Comment Text </td>
	                                                <td>User name</td>
	                                                <td>Event Title 5</td>
	                                               
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                                <div class="text-right">
	                                    <a href="commentList.html">View All Comments <i class="fa fa-arrow-circle-right"></i></a>
	                                </div>
	                            </div>
	                       
                       
                       
                       
                       
                        </div>
                    </div>
                    <!-- -->
                    <div class="col-lg-4">
	                        <div class="panel panel-default" id="eventList">
	                            <div class="panel-heading">
	                                <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i>New Event list</h3>
	                            </div>
	                            <div class="panel-body">
	                                <div class="table-responsive">
	                                    <table class="table table-bordered table-hover table-striped">
	                                        <thead>
	                                            <tr>
	                                                <th>Title</th>
	                                                <th>Event Date</th>
	                                                <th>Event Time</th>
	                                                <th>Organization</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                            <tr>
	                                                <td>Event1</td>
	                                                <td>10/21/2013</td>
	                                                <td>3:29 PM</td>
	                                                <td>Organiztion1</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Event2</td>
	                                                <td>10/21/2013</td>
	                                                <td>3:20 PM</td>
	                                                <td>Organization2</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Event3</td>
	                                                <td>10/21/2013</td>
	                                                <td>3:03 PM</td>
	                                                <td>Organziation3</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Event4</td>
	                                                <td>10/21/2013</td>
	                                                <td>3:00 PM</td>
	                                                <td>Organization4</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Event5</td>
	                                                <td>10/21/2013</td>
	                                                <td>2:49 PM</td>
	                                                <td>Organization5</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Event6</td>
	                                                <td>10/21/2013</td>
	                                                <td>2:23 PM</td>
	                                                <td>Organization6</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Event7</td>
	                                                <td>10/21/2013</td>
	                                                <td>2:15 PM</td>
	                                                <td>Organization7</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Event8</td>
	                                                <td>10/21/2013</td>
	                                                <td>2:13 PM</td>
	                                                <td>Organziation8</td>
	                                            </tr>
	                                             <tr>
	                                                <td>Event9</td>
	                                                <td>10/21/2013</td>
	                                                <td>2:13 PM</td>
	                                                <td>Organziation9</td>
	                                            </tr>
	                                             <tr>
	                                                <td>Event10</td>
	                                                <td>10/21/2013</td>
	                                                <td>2:13 PM</td>
	                                                <td>Organziation10</td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                                <div class="text-right">
	                                    <a href="eventList.html">View All Events <i class="fa fa-arrow-circle-right"></i></a>
	                                </div>
	                            </div>
	                       
                       
                       
                       
                       
                        </div>
                    </div>
                  <!-- -->
	               <div class="col-lg-4">
	                        <div class="panel panel-default" id="memberList">
	                            <div class="panel-heading">
	                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> New Members list</h3>
	                            </div>
	                            <div class="panel-body">
	                                <div class="table-responsive">
	                                    <table class="table table-bordered table-hover table-striped">
	                                        <thead>
	                                            <tr>
	                                                <th>First Name</th>
	                                                <th>Last Name</th>
	                                                <th>Organization</th>
	                                                <th>Member Since</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                            <tr>
	                                                <td>First 1</td>
	                                                <td>Last 1</td>
	                                                <td>Organization 1</td>
	                                                <td>10/21/2013 3:29 PM</td>
	                                            </tr>
	                                            <tr>
	                                                <td>First 2</td>
	                                                <td>Last 2</td>
	                                                <td>Organization 3</td>
	                                                <td>10/21/2013 3:20 PM</td>
	                                            </tr>
	                                            <tr>
	                                                <td>First 3</td>
	                                                <td>Last 3</td>
	                                                <td>Organization 6</td>
	                                                <td>10/21/2013 3:03 PM</td>
	                                            </tr>
	                                            <tr>
	                                                <td>First 4</td>
	                                                <td>Last 4</td>
	                                                <td>Organization 1</td>
	                                                <td>10/21/2013 3:00 PM</td>
	                                            </tr>
	                                            <tr>
	                                                <td>First 5</td>
	                                                <td>Last 5</td>
	                                                <td>Organization 7</td>
	                                                <td>10/21/2013 2:49 PM</td>
	                                            </tr>
	                                            <tr>
	                                                <td>First 6</td>
	                                                <td>Last 6</td>
	                                                <td>Organization 5</td>
	                                                <td>10/21/2013 2:23 PM</td>
	                                            </tr>
	                                            <tr>
	                                               <td>First 7</td>
	                                                <td>Last 7</td>
	                                                <td>Organization 5</td>
	                                                <td>10/21/2013 2:15 PM</td>
	                                            </tr>
	                                            <tr>
	                                                <td>First 8</td>
	                                                <td>Last 8</td>
	                                                <td>Organization 11</td>
	                                                <td>10/21/2013 2:13 PM</td>
	                                            </tr>
	                                             <tr>
	                                                <td>First 9</td>
	                                                <td>Last 9</td>
	                                                <td>Organization 9</td>
	                                                <td>10/21/2013 2:13 PM</td>
	                                            </tr>
	                                             <tr>
	                                                <td>First 10</td>
	                                                <td>Last 10</td>
	                                                <td>Organization 7</td>
	                                                <td>10/21/2013 2:13 PM</td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                                <div class="text-right">
	                                    <a href="memberList.html">View All Members <i class="fa fa-arrow-circle-right"></i></a>
	                                </div>
	                            </div>
	                       
                       
                       
                       
                       
                        </div>
                    </div>
                </div>
               <!-- row -->
               
 {% endblock %}