{% extends 'base.html.twig' %}
{% block stylesheets %}	
{% endblock %}
{% block nav %}
{% endblock %}
    
{% block header %}
     <header class="jumbotron hero-spacer">
                    <h1>Welcome to B-Scene!</h1>
                    <p>B-Scene is a hub for industry professionals events and workshops. You can create an account to publish your own or your organization events. You can search for events, add them to your calender and share them on your social websites.</p>
                    <p><a class="btn btn-warning btn-large">Learn More</a>
                    </p>
     </header>               
{% endblock %}
{% block body %}
{%if errormessage is defined%}
<div class="alert-info fade in">
    
    <strong>{{errormessage}}</strong>
</div>
{%endif%}

{% endblock %}
{% block javascripts %}
{% endblock %}
